<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Federated Service Tester</h2>
    </div>
    <div class="col-sm-12">
      <form>
        <div class="form-group">
          <label for="exampleInputPassword1">Service Url</label>
          {{input value=serviceUrl class="form-control"}}
        </div>
        <button type="button" class="btn btn-primary" {{action "getLayerInfo"}}>Get Layer Info</button>
      </form>
      <h5>Layer Output</h5>
      <div>
        <pre>{{json}}</pre>
      </div>
    </div>

  </div>
  {{outlet}}
</div>
