<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Example App</h2>
      <p>This app demos working with a feature service. You can create new records, list records, search for records, and - if you own the record - update or delete a record</p>
    </div>
  </div>
  {{outlet}}
</div>
